AUTH_COOKIE_SECRET=<random-cookie-secret>
CLOUDSIGMA_ISSUER=https://oauth-stg.cloudsigma.com/realms/cloudsigma
CLOUDSIGMA_CLIENT_ID=cloudsigma
CLOUDSIGMA_CLIENT_SECRET=<cloudsigma-client-secret>
OMNIFABRIC_MOI_APP_URL=https://genai.next.cloudsigma.com/
MOI_INTERNAL_TOKEN=<same value as cs-component:moi-cloudsigma-internal-token>
